body{
    background-color: rgb(219, 25, 25);
}

#container{
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

img{
    display: block;
    margin: 0 auto;
    width: 1000px;
}

nav{
    text-align: center;
    margin: 20px 0;
}

nav a{
    font-size: 24px;
    color: rgb(73, 14, 14);
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover{
    text-decoration: none;
}

h1, h2, h3, footer{
    text-align: center;
}

